.wrapper
  .banner
    .banner__title WELCOME #[br] #[span BONUS]
    .banner__info
      .banner__info-top.banner__info-item
        .in $ 3000
        .bonus
          .bonus__top $3000 / ₹30000
          .bonus__bottom deposit bonus
        .in $ 3000
        .in $ 3000
      .banner__info-bottom.banner__info-item
        .in $ 60
        .in $ 60
        .in $ 60
        .in $ 60
        .bonus
          .bonus__top $60 / ₹4000
          .bonus__bottom risk-free
        .in $ 60

